@import "tailwindcss";

:root {
  /* Background */
  --bg-primary: #0B0F14;
  --bg-secondary: #121821;
  --bg-card: #1A222E;

  /* Text */
  --text-primary: #E6EDF3;
  --text-secondary: #9BA7B4;

  /* Borders */
  --border-color: #2A3441;
  --border-radius: 12px;
  --border-shadow: rgba(182, 182, 182, 0.543) 0px 4px 10px;
  --border-radius-lg: 16px;

  /* Accent Colors */
  --color-cpu: #7C5CFF;
  /* Purple */
  --color-memory: #00C2FF;
  --color-free: #0284C7;
  --color-usage: #8b0078;
  /* Blue */
  --color-disk: #22C55E;
  /* Green */
  --color-network: #F59E0B;
  /* Orange */

  /* Status */
  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;
}

:root.light {
  /* Background */
  --bg-primary: #F5F7FA;
  --bg-secondary: #FFFFFF;
  --bg-card: #FFFFFF;

  /* Text */
  --text-primary: #0F172A;
  --text-secondary: #64748B;

  /* Borders */
  --border-color: #E2E8F0;

  /* Same metric colors (IMPORTANT) */
  --color-cpu: #6D28D9;
  --color-memory: #03885e;
  --color-free: #0284C7;
  --color-disk: #16A34A;
  --color-network: #D97706;

  --success: #16A34A;
  --warning: #D97706;
  --danger: #DC2626;
}

.color-cpu {
  color: var(--color-cpu);
}

.color-memory {
  color: var(--color-memory);
}

.color-network {
  color: var(--color-network)
}
.color-free{
  color:var(--color-free);
}
.color-usage{
  color:var(--color-usage);
}

.color-success {
  color: var(--success)
}

.color-warning {
  color: var(--warning)
}

.color-danger {
  color: var(--danger);
}

.card {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 15px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.card-title {
  color: var(--text-secondary);
  font-size: 14px;
}

.card-value {
  color: var(--text-primary);
  font-size: 28px;
  font-weight: bold;
}

.card:hover {
  border-color: var(--color-cpu);
  transition: 0.2s;
  cursor: pointer;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}

.metric-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.metric-value {
  font-size: 28px;
  font-weight: bold;
}

.metric-label {
  color: var(--text-secondary);
  font-size: 14px;
}

/* Metric	Color
CPU	Purple
Memory	Blue
Disk	Green
Network	Orange
CPU → #7C5CFF
Memory → #00C2FF
Disk → #22C55E
Network → #F59E0B
 */
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  font-size: 10px;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}

/* overall layout */
#layout {
  display: flex;
}

/* sidebar */
#sidebar {
  /* width: 25%; */
  padding: 5px 15px;
  height: 100vh;
  background: var(--bg-secondary);
}

.bg-secondary {
  background: var(--bg-secondary);
}

/* wrapper topbar and dashboard */
#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* #topbar {
  height: 15%;
} */

#dashboard {
  height: 85%;
}

@include {
  .sidebar-link {
    hover: text-amber-400 py-1 text-md cursor-pointer
  }
}